# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: Potential of free-tier customers becoming paid customers

#### 2. What are the predictors/covariates?

Answer: age, gender, location, profession, days since last login, activity score.

In [1]:
3. What timeframe is this data relevent for?

Object `for` not found.

Answer: Jan-Apr 2015

#### 4. What is the hypothesis?

Answer: Days since last login will predict whether a user will become a paying customer

## Let's get started with our dataset

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

df = pd.read_csv("../assets/admissions.csv")
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

#### 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
ADMIT | 1 = admitted, 0 = not-admitted 1 = thing | categorical
GRE | Graduate sntrance exam 0-800 | continuous 
GPA | 0 -4 grade point average | continuous 
Prestige | 1 - 4 ranking of undergrad school prestige | categorical

We would like to explore the association between Prestige and Admittance rates

#### 2. What is the outcome?

Answer: Does the prestige of a candiate's undergrad effect the admission rate

#### 3. What are the predictors/covariates?

Answer: GRE, GPA, Prestige

#### 4. What timeframe is this data relevent for?

Answer: unclear

#### 4. What is the hypothesis?

Answer: The higher rated a candidate's undergrad, the higher probability of acceptance

    Using the above information, write a well-formed problem statement.

## Problem Statement

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

to make sure there's enough data, that it's quality enough for our analysis, how was it collected, is it complete

#### 2a. What are the assumptions of the distribution of data?

Answer: I assume that the folks that are accepted will have higher prestige values

In [6]:
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

#### 2b. How will determine the distribution of your data?

In [41]:
df[df.prestige == 4]

     admit  gre   gpa  prestige
3        1  640  3.19         4
4        0  520  2.93         4
10       0  800  4.00         4
16       0  780  3.87         4
22       0  600  2.82         4
23       0  680  3.19         4
27       1  520  3.74         4
30       0  540  3.78         4
47       0  500  2.97         4
48       0  440  2.48         4
51       0  440  3.13         4
52       0  740  3.37         4
59       0  600  2.82         4
61       0  560  3.32         4
66       0  740  3.62         4
71       0  300  2.92         4
72       0  480  3.39         4
74       0  720  3.45         4
80       0  700  2.90         4
83       0  380  2.91         4
96       0  640  3.52         4
102      0  380  3.33         4
110      0  680  3.08         4
111      0  420  3.41         4
125      0  540  3.38         4
127      0  740  3.74         4
129      0  460  3.15         4
136      0  560  3.33         4
141      1  700  3.52         4
142      0  620  3.94         4
..     ...  ...   ...       ...
197      1  400  3.23         4
199      0  580  3.77         4
203      0  420  3.92         4
210      0  740  3.34         4
227      0  540  3.02         4
230      0  580  3.29         4
238      0  500  2.86         4
250      0  660  3.31         4
251      0  620  3.21         4
253      1  540  3.55         4
254      1  740  3.52         4
266      0  560  3.24         4
278      1  680  3.00         4
282      0  660  3.45         4
283      0  520  3.10         4
285      0  600  3.31         4
287      1  660  3.70         4
288      0  800  3.15         4
289      0  420  2.26         4
305      0  580  3.46         4
313      1  520  3.65         4
314      0  540  3.46         4
317      1  780  3.63         4
318      1  480  3.71         4
322      0  500  3.01         4
329      0  500  2.93         4
337      0  620  3.09         4
340      0  500  3.23         4
342      0  500  3.95         4
375      0  560  3.49         4

[67 rows x 4 columns]

Answer: I could run queries to find the number of admits in each prestige group

In [37]:
df[df.admit == 1]

     admit  gre   gpa  prestige
1        1  660  3.67         3
2        1  800  4.00         1
3        1  640  3.19         4
5        1  760  3.00         2
6        1  560  2.98         1
8        1  540  3.39         3
12       1  760  4.00         1
14       1  700  4.00         1
19       1  540  3.81         1
21       1  660  3.63         2
24       1  760  3.35         2
25       1  800  3.66         1
26       1  620  3.61         1
27       1  520  3.74         4
28       1  780  3.22         2
33       1  800  4.00         3
38       1  500  3.13         2
39       1  520  2.68         3
41       1  580  3.32         2
42       1  600  3.15         2
45       1  460  3.45         3
46       1  580  3.46         2
53       1  680  3.27         2
55       1  740  4.00         3
60       1  620  3.18         2
63       1  680  3.85         3
77       1  800  4.00         3
79       1  620  4.00         1
84       1  500  3.60         3
89       1  660  4.00         2
..     ...  ...   ...       ...
315      1  300  2.84         2
316      1  340  3.00         2
317      1  780  3.63         4
318      1  480  3.71         4
327      1  560  3.48         2
334      1  460  3.64         3
335      1  620  3.71         1
339      1  660  3.47         3
341      1  560  2.65         3
350      1  780  4.00         2
352      1  580  3.12         3
354      1  540  3.78         2
355      1  760  2.81         1
358      1  560  3.69         3
360      1  520  4.00         1
361      1  540  3.49         1
364      1  560  3.36         1
370      1  540  3.77         2
371      1  680  3.76         3
372      1  680  2.42         1
373      1  620  3.37         1
377      1  800  4.00         2
381      1  540  3.49         2
384      1  480  2.62         2
386      1  740  3.86         2
390      1  800  3.05         2
391      1  660  3.88         2
392      1  600  3.38         3
393      1  620  3.75         2
394      1  460  3.99         3

[127 rows x 4 columns]

#### 3a. How might outliers impact your analysis?

Answer: When the candidate applies (late, early, etc)

#### 3b. How will you test for outliers?

Answer: Checking the dates of application submisson, it there a relation to a student to applied early in the process (early admission) vs. later

#### 4a. What is colinearity?

Answer: When two variables can predict each other linearly

#### 4b. How will you test for colinearity?

Answer: On a chart, the variables would visually follow a very similar line

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer: We would collect data from the same time frame to revisit next year.

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model